h1 {
    text-align: center;
}

ol {
    text-align: center;
    padding: 20px;
    background-color: #633974;
    list-style-position: inside;
    width: 400px;
    margin: 0 auto;
}

#clear-scores {
    margin: 0 auto;
    display: block;
}

/* Make it mobile friendly */
@media (max-width: 690px) {
    ol {
         width: 300px;
     }
 }